@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
    font-family: "Poppins", sans-serif;
}

body{
    background: #009FFF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right bottom, #ec2F4B, #009FFF);
    background: linear-gradient(to right, #ec2F4B, #009FFF);
}

main{
    display: flex;
    justify-content: center;
}

.container{
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
}

.container h2{
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: 600;
}

.auth-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    /* background-color: salmon; */
}

.form{
    /* background-color: rgba(255, 255, 255, 0.2); */
    /* box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2); */
    /* background-color: red; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    margin-bottom: 20px;
}

.input-field{
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    border: none;
    font-size: 16px;
    padding: 7px 10px 7px 10px;
    border-radius: 5px;
    width: 250px;
}

.input-field:focus {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    outline-width: 2px;
    outline-style: solid;
    outline-color: rgba(0, 0, 255, 0.205);
}

input[type="submit"] {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 500;
}

input[type="submit"]:hover {
    cursor: pointer;
}

.error{
    margin-top: 0px;
    color: rgb(150, 0, 0);
}

.other{
    margin-top: 20px;
    margin-bottom: 0px;
}

a{
    color: black;
}